.checkbox {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  width: 100%;
  clear: both;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;

    &:checked ~ .checkbox__check {
      background-color: #ffffff;
      transform: rotate(0deg) scale(1);
      opacity: 1;

      border: 0.1rem solid $color-text-fourth;
      border-radius: 0.3rem;
      box-shadow: 0 0.1rem 0.2rem rgba(10, 10, 10, 0.1);
    }

    &:checked ~ .checkbox__check::after {
      transform: rotate(45deg) scale(1);
      opacity: 1;
      left: 0.8rem;
      top: 0.3rem;
      width: 0.6rem;
      height: 1.2rem;
      border: solid $color-primary;
      border-width: 0 0.2rem 0.2rem 0;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__check {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2.4rem;
    width: 2.4rem;
    transition: all 0.2s ease-out;
    background-color: $color-white;
    border: 0.1rem solid $color-text-fourth;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.2rem rgba(10, 10, 10, 0.1);

    // background-color: transparent;
    // border-radius: 5px;

    // border: 2px solid #FFFFFF;

    &::after {
      position: absolute;
      content: "";
      left: 1.2rem;
      top: 1.2rem;
      height: 0;
      width: 0;
      border-radius: 0.5rem;
      border: solid $color-primary;
      border-width: 0 0.3rem 0.3rem 0;
      transform: rotate(0deg) scale(0);
      opacity: 1;
      transition: all 0.2s ease-out;
    }
  }

  &__label {
    padding-left: 3rem;
  }
}
