// COLORS
$color-primary: #820D2D;
$color-secondary: #EAEAEA;
$color-tertiary: #212121;
$color-fourth: #1B1B1B;

$color-accent: #FFB300;

$color-text-primary: #2C3E50;
$color-text-secondary: #53585E;
$color-text-tertiary: #677379;
$color-text-fourth: #D4D4D4;
$color-text-fifth: #FFFFFF;

$color-semantic-green: #55c57a;
$color-semantic-orange: #ff7730;

$color-white: #FFFFFF;
$color-black: #000000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 2rem;